[submodule "AuthMS"]
	path = Services/AuthMS
	url = https://github.com/JonathanHerSa/auth-nexus.git
[submodule "Apps/AuthMS"]
	path = Apps/AuthMS
	url = https://github.com/JonathanHerSa/auth-nexus-front.git
[submodule "Services/ApiGateway"]
	path = Services/ApiGateway
	url = https://github.com/JonathanHerSa/api-gateway-nexus.git
